* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

header {
    position: relative;
    z-index: 1;
}

.presentation {
    margin-top: 8vh;
}

nav {
    display: flex;
    align-items: center;
    position: fixed;
    height: 8vh;
    top: 0;
    box-shadow: 1px 10px 23px 4px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 10px 23px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 10px 23px 4px rgba(0,0,0,0.5);
    background-color: rgba(255, 255, 255, 0.411);
    z-index: 1;
}

nav ul {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: rgba(205, 227, 247, 0.589);
    padding: 1rem;
    top: 8vh;
    right: 0;
    border-radius: 0px 0px 0px 20px;
}

li {
    padding: 10% 0;
}

.presentation {
    position: relative;

}

.presentation h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    letter-spacing: 0.4rem;
    font-size: 180%;
}

.ma-bars {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

/* Permet de changer l'état de mes ul en fonction de la chekbox, si elle est check ou non */
#check:checked~ul {
    display: flex;
    flex-direction: column;
}

#check {
    display: none;
}


a div {
    width: 20%;
}

a {
    text-decoration: none;
}

footer {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.icone {
    width: 12vw;
}