html {
    height: 100%;
    margin: 0;
 }

#logo {
    position: relative;
    width: 10%;
}

.icone {
    width: 5%;
}

#photo-intro {
    width: 100%;
}

header , footer {
    margin: auto;
    text-align: center;
    width: auto;
}